main {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}
.contenedorArticulo {
    background-color: red;
    text-align: center;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-right: 50px;
}

.contenedorArticulo, h1 {
    color: blueviolet;
}

.contenedorArticulo:hover{
    background-color: aquamarine;
}

.contenedorImg {
    width: 70%;
}

#identificador {
    width: 50%;
    height: 200px;
    text-align: center;
    margin-left: 250px;
    padding: 0.5;
    border-radius: 60px;
    border-width: 60px;
    font-size: 50px;
}
.error1 {
    border-color: yellow;
}
.error2 {
    border-color: red;
}
.ok {
    border-color: green;
}

.atenuado {
    opacity: 0.5;
}